<link rel="stylesheet" href="/css/dashboard.css?v=<%= version %>">

<div class="dashboard">
	<div class="dashboard-list">
		<% if (list.length) { list.forEach(mail => { %>
			<div class="dashboard-item js-open" data-id="<%= mail._id %>">
				<div class="dashboard-item-title">
					<div class="dashboard-item-subject" title="<%= mail.subject %>"><%= mail.subject %></div>
					<div class="dashboard-item-date text-muted"><%= moment(mail.date).format('DD.MM.YYYY HH:mm') %></div>
				</div>
				<div class="dashboard-item-accept js-accept" data-id="<%= mail._id %>">
					<span class="fa fa-check"></span>
				</div>
				<div class="dashboard-item-reject js-reject" data-id="<%= mail._id %>">
					<span class="fa fa-times"></span>
				</div>
			</div>
		<% }) } else { %>
			<div class="dashboard-list-empty">
				<div class="text-muted">Нет писем</div>
			</div>
		<% } %>
	</div>
	<div class="dashboard-preview">
		<% if (mail) { %>
			<div>
				<span class="text-muted">Автор:</span>
				<%= mail._user.name %>
			</div>
			<div>
				<span class="text-muted">От:</span>
				<%= mail.from %>
			</div>
			<div>
				<span class="text-muted">Кому:</span>
				<%= mail.to %>
			</div>
			<div>
				<span class="text-muted">Копия:</span>
				<%= mail.cc %>
			</div>
			<div>
				<span class="text-muted">Скрытая копия:</span>
				<%= mail.bcc %>
			</div>
			<div>
				<span class="text-muted">Обратный адрес:</span>
				<%= mail.replyTo %>
			</div>
			<div>
				<span class="text-muted">Дата:</span>
				<%= moment(mail.date).format('DD.MM.YYYY HH:mm') %>
			</div>
			<div>
				<span class="text-muted">Тема:</span>
				<%= mail.subject %>
			</div>
			<div>
				<span class="text-muted">Вложения:</span>
				<% mail._attachments.forEach(attachment => { %>
					<a href="/dashboard/attachment/<%= attachment._id %>"><%= attachment.name %></a>
				<% }) %>
			</div>
			<div class="dashboard-preview-html">
				<% if (mail.html) { %>
					<p><a href="/dashboard/mail/<%= mail._id %>/html" target="_blank">Показать оригинал</a></p>
				<% } %>
				<%- mail._preview %>
			</div>
		<% } else { %>
			<div class="dashboard-preview-empty">
				<div class="text-muted">Письмо не выбрано</div>
			</div>
		<% } %>
	</div>
</div>

<script src="/js/dashboard.js?v=<%= version %>"></script>